<form action="/edit_carrera/{{carrera.id}}" method="POST">
    <input type="text", name="nombre" placeholder="Nombre de la carrera" value="{{carrera.nombre}}">
    <input type="text", name="codigo" placeholder="Código de la carrera" value="{{carrera.codigo}}"">
    <input type="text", name="creditos" placeholder="Créditos totales de la carrera" value="{{carrera.creditos}}">
    <input type="text", name="coordinador" placeholder="Nombre del coordinador de la carrera" value="{{carrera.coordinador}}">
    <input type="text", name="ecoordinador" placeholder="Email del coordinador" value="{{carrera.ecoordinador}}">

    <button>Save</button>
</form>