<form action="/update/{{materia.id_materia}}" method="POST">
     
    <input type="text" name="nombre_materia" placeholder="Nombre materia" value="{{materia.nombre_materia}}">
    <input type="text" name="codigo_materia" placeholder="Codigo materia" value="{{materia.codigo_materia}}">
    <input type="text" name="creditos_materia" placeholder="Creditos materia" value="{{materia.creditos_materia}}">
    <input type="text" name="area_materia" placeholder="Area materia" value="{{materia.area_materia}}">

    <button type="submit">Save</button>

</form>