<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Carrera</th>
        </tr>
        {% for usuario in usuarios %}
        <tr>
            <th>{{ usuario.id }}</th>
            <th>{{ usuario.nombre }}</th>
            <th>{{ usuario.correo }}</th>
            <th>{{ usuario.carrera }}</th>
        </tr>
        {% endfor %}
    </table>
</body>
</html>